/* PDFViewer.css */
.pdf-viewer {
  width: 100%;
  height: 100vh;
  border: none;
  user-select: none; 
}
.pdf-viewer-container {
  position: relative;
  overflow: hidden;
}
.pdf-viewer-container iframe {
  pointer-events: none; 
}
