.quiz-page {
  max-width: 800px;
  margin: 0 auto;
  padding: var(--spacing-lg);
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-primary);
}

.quiz-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--spacing-lg);
    font-family: var(--font-primary);

}

.quiz-title {
  font-size: 1.8rem;
  color: var(--text-color);
    font-family: var(--font-primary);

}

.quiz-timer {
  font-size: 1.2rem;
  color: var(--accent-color);
    font-family: var(--font-primary);

}

.question-index {
  font-size: 1.2rem;
  margin-bottom: var(--spacing-md);
  color: var(--text-color);
    font-family: var(--font-primary);

}

.question-card {
  margin-bottom: var(--spacing-lg);
  background-color: var(--primary-color);
  border: 1px solid var(--secondary-color);
  border-radius: var(--input-border-radius);
  padding: var(--spacing-md);
    font-family: var(--font-primary);

}

.question-image {
  max-width: 100%;
  margin-bottom: var(--spacing-md);
}

.question-text {
  font-size: 1.6rem;
  margin-bottom: var(--spacing-md);
    font-family: var(--font-primary);

}

.options {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
    font-family: var(--font-primary);

}

.option {
  background: var(--input-background);
  border: var(--input-border);
  border-radius: var(--input-border-radius);
  padding: var(--spacing-md);
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  color: var(--text-color); /* Ensure text color is set */
    font-family: var(--font-primary);

}

.option:hover {
  background: var(--accent-color);
  color: var(--primary-color);
}

.option.selected {
  background: green; 
  color: #fff; 
}

/* Ensure contrast in dark mode */
body[data-theme='dark'] .option {
  background: var(--dark-input-background); /* Adjust background for dark mode */
  color: var(--dark-text-color); /* Ensure text color is visible */
}

body[data-theme='dark'] .option.selected {
  background: #004d00; /* Darker green for dark mode */
  color: #fff; /* White text */
}

.nav-buttons {
  display: flex;
  justify-content: space-between; /* Aligns "Previous" to the left and "Next" to the right */
  margin-top: var(--spacing-lg);
    font-family: var(--font-primary);

}

.nav-button {
  background: var(--button-background);
  color: var(--button-color);
  padding: var(--button-padding);
  border-radius: var(--button-border-radius);
    font-family: var(--font-primary);

}

.submit-button {
  background: var(--accent-color);
  color: var(--primary-color);
  padding: var(--button-padding);
  border-radius: var(--button-border-radius);
  width: 50%;
  margin: 0 auto; /* Centers the submit button */
  display: block; /* Makes the button block-level to be centered */
  text-align: center;
    font-family: var(--font-primary);

}